<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tran.tuananh.btl"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTL"
        tools:targetApi="31"
        >
        <activity
            android:name=".Activity.UpdateDeleteServiceActivity"
            android:exported="false"
            />
        <activity
            android:name=".Activity.AddServiceActivity"
            android:exported="false"
            />
        <activity
            android:name=".Activity.ServiceManagementActivity"
            android:exported="false"
            />
        <activity
            android:name=".Activity.UpdateDeleteSpecialistActivity"
            android:exported="false"
            />
        <activity
            android:name=".Activity.AddSpecialistActivity"
            android:exported="false"
            />
        <activity
            android:name=".Activity.SpecialistManagementActivity"
            android:exported="false"
            />
        <activity
            android:name=".Activity.ForgotPasswordActivity"
            android:exported="false"
            />
        <activity
            android:name=".Activity.UpdateDeleteHealthFacilityActivity"
            android:exported="false"
            />
        <activity
            android:name=".Activity.AddHealthFacilityActivity"
            android:exported="false"
            />
        <activity
            android:name=".Activity.HealthFacilityManagementActivity"
            android:exported="false"
            />
        <activity
            android:name=".Activity.HomeAdminActivity"
            android:exported="false"
            />
        <activity
            android:name=".Activity.BookingActivity"
            android:exported="false"
            />
        <activity
            android:name=".Activity.HealthFacilityDetailActivity"
            android:exported="false"
            />
        <activity
            android:name=".Activity.ChooseHealthFacilityActivity"
            android:exported="false"
            />
        <activity
            android:name=".Activity.PersonalInfoActivity"
            android:exported="false"
            />
        <activity
            android:name=".Activity.HomeActivity"
            android:exported="false"
            />
        <activity
            android:name=".Activity.RegisterActivity"
            android:exported="false"
            />
        <activity
            android:name=".Activity.LoginActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".Alarm.AlarmReceiver"
            android:exported="false"
            />
    </application>

</manifest>